<div class="well well-md">
	<h2 data-translate="afripointApp.event.home.title" class="text-left">Events</h2>
		<jhi-alert></jhi-alert>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 no-padding-right pull-right">
					<button class="btn btn-primary" ui-sref="event.new" >
						<span class="glyphicon glyphicon-plus"></span>
						<span  data-translate="afripointApp.event.home.createLabel"> Create new Event </span>
					</button>
				</div>
			</div>
		</div>
	<br/>
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="photo"><span data-translate="afripointApp.event.photo">Photo</span><span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="title"><span data-translate="afripointApp.event.title">Title</span><span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="startDate"><span data-translate="afripointApp.event.startTime">Start Date</span><span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="owner"><span data-translate="afripointApp.event.owner">Owner</span><span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in vm.events track by event.id">
					<td><a ng-if="event.photo"> <img src="{{event.photo}}" class="img-responsive" style="max-height: 100px;" alt="event image"/> </a></td>
					<td>{{event.title}}</td>
					<td> {{event.startTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
					<td><a ui-sref="partner-detail({id:event.owner.id})">{{event.owner.firstname}}&nbsp;{{event.owner.lastname}}</a></td>
					<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
						ui-sref="event-detail({id:event.id})"
						class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>
							<span class="hidden-sm-down" data-translate="entity.action.view"></span>
						</button>
						<button type="submit"
						ui-sref="event.edit({id:event.id})"
						class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="hidden-sm-down" data-translate="entity.action.edit"></span>
						</button>
						<button type="submit"
						ui-sref="event.delete({id:event.id})"
						class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>
							<span class="hidden-sm-down" data-translate="entity.action.delete"></span>
						</button>
					</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
