<div class="table-responsive">
		<table class="jh-table table table-striped">			
			<tbody>
				<tr ng-repeat="event in vm.events track by event.id">
					<td>
						<a ng-if="event.image" ng-click="vm.openEvent(event)"> 
						<img data-ng-src="{{'data:' + event.imageContentType + ';base64,' + event.image}}" style="max-height: 100px;" alt="event image"/> 
						</a></td>
					<td>
						<h3>{{event.title}}</h3>
						<h5><span data-translate="global.messages.from">from</span>:&nbsp;{{event.startTime | date:'EEE dd MMM HH:mm'}}&nbsp; 
							<span data-translate="global.messages.to">to</span>:&nbsp;{{event.endTime | date:'EEE dd MMM  HH:mm'}} 
						</h5>						
					</td>				
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>