<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
		ng-click="vm.clear()">
			&times;
		</button>
		<h4 class="modal-title page-header" id="myUserLabel" data-translate="userManagement.home.createLabel" ng-if="vm.user.id==null">Create a new user</h4>
		<h4 class="modal-title page-header" id="myUserEditLabel" data-translate="userManagement.home.createOrEditLabel" ng-if="vm.user.id!==null"> Create or edit a User</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<!--
		<div class="form-group">
		<label data-translate="global.field.id">ID</label>
		<input type="text" class="form-control" name="id"
		ng-model="vm.user.id" readonly>
		</div>
		-->
		<div class="row voffset4">
			<div class="col-md-4 form-group" ngf-drop ngf-change="vm.setBytes($file)" ngf-pattern="'image/*'">
				<label class="control-label" data-translate="userManagement.profile" for="field_photo">Profile</label>
				<div ng-if="vm.user.image" style="max-height: 400px; overflow: hidden;">
					<img data-ng-src="{{'data:' + vm.user.imageContentType + ';base64,' + vm.user.image}}" style="max-width: 100%; height:auto" ng-if="vm.user.image" alt="user image"/>
				</div>
				<button type="button" ngf-select class="btn btn-default btn-block" ng-if="vm.user.image==null"
				ngf-change="vm.setBytes($file)" accept="image/*" data-translate="entity.action.addimage">
					Add image
				</button>
				<button type="button" ngf-select class="btn btn-default btn-block" ng-if="vm.user.image!==null"
				ngf-change="vm.setBytes($file)" accept="image/*" data-translate="entity.action.changeimage">
					Change image
				</button>
				<input type="hidden" class="form-control" name="image" id="field_image"
				ng-model="vm.user.image"
				/>
				<input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
				ng-model="vm.user.imageContentType" />
			</div>
			<div class="col-md-8">
				<div class="row ">
					<div class="col-md-6 form-group">
						<label class="control-label" data-translate="userManagement.login">Login</label>
						<input type="text" class="form-control" name="login"
						ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

						<div ng-show="editForm.login.$invalid">
							<p class="help-block"
							ng-show="editForm.login.$error.required" data-translate="entity.validation.required">
								This field is required.
							</p>

							<p class="help-block"
							ng-show="editForm.login.$error.maxlength" data-translate="entity.validation.maxlength"
							translate-value-max="50">
								This field cannot be longer than 50 characters.
							</p>
						</div>
					</div>

					<div class="col-md-3 form-group">
						<label data-translate="userManagement.langKey">Lang Key</label>
						<select class="form-control" name="langKey" ng-model="vm.user.langKey"
						ng-options="language as language for language in vm.languages track by language"></select>
					</div>
					<div class="col-md-3 form-group">
						<label for="activated">
							<input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.user.activated">
							<span data-translate="userManagement.activated">Activated</span> </label>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label class="control-label" data-translate="userManagement.firstName">First Name</label>
						<input type="text" class="form-control" name="firstName"
						ng-model="vm.user.firstName" ng-maxlength="50">

						<div ng-show="editForm.firstName.$invalid">
							<p class="help-block"
							ng-show="editForm.firstName.$error.maxlength" data-translate="entity.validation.maxlength"
							translate-value-max="50">
								This field cannot be longer than 50 characters.
							</p>
						</div>
					</div>
					<div class="col-md-6 form-group">
						<label data-translate="userManagement.lastName">Last Name</label>
						<input type="text" class="form-control" name="lastName"
						ng-model="vm.user.lastName" ng-maxlength="50">

						<div ng-show="editForm.lastName.$invalid">
							<p class="help-block"
							ng-show="editForm.lastName.$error.maxlength" data-translate="entity.validation.maxlength"
							translate-value-max="50">
								This field cannot be longer than 50 characters.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label" data-translate="userManagement.email">Email</label>
						<input type="email" class="form-control" name="email"
						ng-model="vm.user.email" required ng-maxlength="100">

						<div ng-show="editForm.email.$invalid">
							<p class="help-block"
							ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
								This field is required.
							</p>

							<p class="help-block"
							ng-show="editForm.email.$error.maxlength" data-translate="entity.validation.maxlength"
							translate-value-max="100">
								This field cannot be longer than 100 characters.
							</p>
							<p class="help-block"
							ng-show="editForm.email.$error.email" data-translate="global.messages.validate.email.invalid">
								Your e-mail is invalid.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!--
					<div class="col-md-4 form-group">
						<label data-translate="userManagement.roles">Authorities</label>
						<select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
						ng-options="authority.name for authority in vm.authorities"></select>
					</div>
					-->
					<div class="col-md-12">
						<div class="row">
							<div class="table-responsive">
								<table class="jh-table table table-striped">
									<thead>
										<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">											
											<th jh-sort-by="name"><span data-translate="userManagement.roles">Authorities</span> <span class="glyphicon glyphicon-sort"></span> </th>
											<th> 
											</th>
										</tr>
									</thead>
									<tbody>
										<tr> 
											<td>
												
											</td> 
											<td class="pull-right">
												<button class="btn btn-success btn-sm" ui-sref="new-user-auth" ng-if="vm.user.id==null" >
													<span class="glyphicon glyphicon-plus"></span>
												</button> 
												<button class="btn btn-warning btn-sm" ui-sref="edit-user-auth" ng-if="vm.user.id!==null" >
													<span class="glyphicon glyphicon-plus"></span>
												</button> 
												</td> 
												</tr>
										<tr ng-repeat="authority in vm.authorities track by $index">
											<td>
												<!--
												<div class="row">
													<div class="col-md-2">
														<div ng-if="authority.selected == true" class="btn btn-success btn-sm">
															<span class="glyphicon glyphicon-check"></span>
														</div>
														<div ng-if="authority.selected == false" class="btn btn-white btn-sm">
															<span class="glyphicon glyphicon-uncheck"></span>
														</div>
													</div>
													<div class="col-md-10">
														{{authority.name}}
													</div>
												</div>
												-->
												{{authority.name}}
											</td>
											<td class="text-right">
											<div class="btn-group flex-btn-group-container">
												<button type="button" ng-disabled="authority.selected == true"
												ng-click="vm.setAuthority(authority.name)"
												class="btn btn-success btn-sm">
													<span class="glyphicon glyphicon-check"></span>
												</button>
												<button type="button" ng-disabled="authority.selected == false"
												ng-click="vm.unsetAuthority(authority.name)"
												class="btn btn-warning btn-sm">
													<span class="glyphicon glyphicon-unchecked"></span>
												</button>
											</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
			data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
