<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-white btn-sm" ui-sref="{{ vm.previousState }}">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back" class="ng-scope">Back</span>
                </button>
            </div>
            <div class="col-md-8">
                <h2> {{vm.afripointService.name}}</h2>
                <h5>{{vm.afripointService.description}}</h5>
            </div>
            <div class="col-md-2">
                <button type="button" ui-sref="afripoint-service-detail.edit({id:vm.afripointService.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
<div class="panel-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-6" ng-if="vm.afripointService.photo">
            <img data-ng-src="{{'data:' + vm.afripointService.photoContentType + ';base64,' + vm.afripointService.photo}}" style="max-width: 100%;" alt="afripointService image"/>
        </div>
        <div class="col-md-3" ng-if="vm.afripointService.photo==null"></div>
        <div class="col-md-6">
            <dl class="row jh-entity-details">
                <dt><span data-translate="afripointApp.afripointService.contact">Contact</span></dt>
                <dd>
                    <span>{{vm.afripointService.contact}}</span>
                </dd>
                <dt><span data-translate="afripointApp.afripointService.createdBy">Created By</span></dt>
                <dd>
                    <span>{{vm.afripointService.createdBy}}</span>
                </dd>
                <dt><span data-translate="afripointApp.afripointService.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{vm.afripointService.modifiedBy}}</span>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-md-6 text-left">
            Created: {{vm.afripointService.createdDate | date:'medium'}}
        </div>
        <div class="col-md-6 text-right">
            Last modified:	{{vm.afripointService.modifiedDate | date:'medium'}}
        </div>
    </div>

</div>
</div>
