<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10 text-center">
                <h2> {{vm.service.header | translate }}</h2>
                <h5>{{vm.service.description | translate }}</h5>
            </div>
            <div class="col-md-2">
                <button class="btn btn-white btn-sm" ng-click="vm.clear()" >
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.close" class="ng-scope">Close</span>
                </button>
            </div>
        </div>
    </div>
<div class="panel-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="pad" ng-if="vm.service.url">
    	<iframe ng-src="{{vm.service.url}}" frameborder="0" scrolling="auto" style="min-width:100%; min-height: 800px; margin-height:1px; margin-width:1px;" allowfullscreen="true"></iframe>	
    </div>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-md-6 text-left" ng-if="vm.service.createdDate">
            Created: {{vm.service.createdDate | date:'medium'}}
        </div>
        <div class="col-md-6 text-right"  ng-if="vm.service.modifiedDate">
            Last modified:	{{vm.service.modifiedDate | date:'medium'}}
        </div>
    </div>

</div>
</div>
