<div class="well well-md">
    <h2 data-translate="afripointApp.shop.home.title">Galleries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ui-sref="shop.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="afripointApp.shop.home.createLabel"> Create new Gallery </span>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 well well-sm" ng-repeat="shop in vm.shops track by shop.id" style="margin-left:5px; max-width:280px;  max-height: 350px; overflow-y: auto;">
            <a ng-if="shop.thumbnail" ui-sref="shop-view({id:shop.id})"> <img ng-src="{{shop.thumbnail}}" style="max-height: 100px;" alt="shop image"/> </a>
            <br>
            <h5><strong>{{shop.name}}</strong></h5>
            <h5><strong>{{shop.albumSize>0?shop.albumSize:""}}&nbsp;<span data-translate="afripointApp.shop.{{shop.albumLabel}}"></span></strong></h5>
            <h6><span data-translate="afripointApp.shop.createdDate"></span> {{shop.createdDate | date:'medium'}}</h6>
            <h6><span data-translate="afripointApp.shop.modifiedDate"></span> {{shop.modifiedDate | date:'medium'}}</h6>
            <h6><span data-translate="afripointApp.shop.createdBy"></span> {{shop.createdBy.lastName}}</h6>
            <h6><span data-translate="afripointApp.shop.modifiedBy"></span> {{shop.modifiedBy.lastName}}</h6>
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        ui-sref="shop.edit({id:shop.id})"
                        class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="submit"
                        ui-sref="shop.delete({id:shop.id})"
                        class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="submit"
                        ui-sref="shop-detail({id:shop.id})"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="well well-md">
    <h2 data-translate="afripointApp.shop.home.title">Shops</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="afripointApp.shop.home.createLabel">
                        Create new Shop
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>



    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="afripointApp.shop.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner"><span data-translate="afripointApp.shop.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="products"><span data-translate="afripointApp.shop.products">Products</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="physicalAddress"><span data-translate="afripointApp.shop.physicalAddress">Physical Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="virtualAddress"><span data-translate="afripointApp.shop.virtualAddress">Virtual Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="afripointApp.shop.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span data-translate="afripointApp.shop.modifiedDate">Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span data-translate="afripointApp.shop.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shop in vm.shops track by shop.id">
                    <td><a ui-sref="shop-detail({id:shop.id})">{{shop.id}}</a></td>
                    <td>{{shop.name}}</td>
                    <td>{{shop.owner}}</td>
                    <td>{{shop.products}}</td>
                    <td>{{shop.physicalAddress}}</td>
                    <td>{{shop.virtualAddress}}</td>
                    <td>{{shop.createdDate | date:'medium'}}</td>
                    <td>{{shop.modifiedDate | date:'medium'}}</td>
                    <td data-translate="{{'afripointApp.ShopCategory.' + shop.category}}">{{shop.category}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-detail({id:shop.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop.edit({id:shop.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop.delete({id:shop.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
