<div class="modal-heading">
	<div class="row text-center">
		<div class="col-md-12 text-center">
			<h2 class="text-center " data-translate="afripointApp.partner.become">Become a partner</h2>
			<button class="btn btn-white btn-sm pull-right" ng-click="evm.clear()">
				<span class="glyphicon glyphicon-eye-close"></span>
			</button>
		</div>
	</div>
	<div class="row-fluid text-center pad">
		<div class="col-md-12">
			<ul class="nav nav-pills nav-justified">
				<li role="presentation">
					<a class="text-center primary" ng-class="{active: evm.showPage=='infos'}" ng-click="evm.switchTo('infos')"> <h2 data-translate="global.information"></h2> </a>
				</li>
				<li  role="presentation" ng-if="evm.showPage=='register'">
					<a class="text-center primary" ng-class="{active: evm.showPage=='register'}" ng-click="evm.switchTo('register')"> <h2 data-translate="global.register"></h2> </a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-body" style="padding-left: 50px;">
	<div class="row voffset3">
		<div class="col-md-12">
			<hr class="primary" />
		</div>
	</div>
	<become-partner-info ng-if="evm.showPage == 'infos' "></become-partner-info>
	<!--
	<become-partner ng-if="evm.showPage == 'register' "></become-partner>
	-->
	<form name="editForm" role="form" novalidate ng-submit="evm.save()" show-validation>
		<div ng-if="evm.showPage == 'register'">
			<div class="row">

				<div class="col-md-5 text-right"></div>
				<div class="col-md-7 text-left">
					<h4 data-translate="afripointApp.partner.register.title"><!-- Data translate! --> Please fill out everything - All fields required </h4>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-5">
					<div class="row text-center">
						<div class="col-md-10 form-group">
							<select id="field_type" class="form-control btn btn-sm" name="partner.type" ng-change="evm.changeCatalog()"
							ng-model="evm.partner.type" ng-options="type as type.value for type in evm.types track by type.key"></select>
						</div>
						<div class="col-md-10">
							<hr class="primary" />
						</div>
					</div>
					<div class="row text-center">
						<div class="form-group col-md-10" ngf-drop ngf-change="evm.setBytes($file)" ngf-pattern="'image/*'">
							<label class="control-label" data-translate="afripointApp.partner.photo" for="field_photo">Photo</label>
							<div ng-if="evm.partner.image">
								<div class="row">
									<div class="col-sm-10">
										<button type="button" ng-click="evm.partner.image=null;evm.partner.imageContentType=null;evm.partner.photo=null;"
										class="btn btn-default btn-xs pull-right">
											<span class="glyphicon glyphicon-remove"></span>
										</button>

										<img id="image" data-ng-src="{{'data:' + evm.partner.imageContentType + ';base64,' + evm.partner.image}}"
										style="width: 100%; height:auto;" ng-if="evm.partner.image" alt="partner image"/>

									</div>
								</div>
								<div ng-if="evm.partner.image" class="help-block clearfix">
									<span class="pull-left">{{evm.partner.imageContentType}}, {{evm.byteSize(evm.partner.image)}}</span>
								</div>
							</div>
							<div ng-if="evm.partner.thumbnail">
								<div class="row">
									<div class="col-sm-10">
										<img id="thumbnail" ng-src="{{evm.partner.thumbnail}}" class="img-responsive" ng-if="evm.partner.thumbnail" alt="partner thumbnail"/>
									</div>
								</div>
							</div>
							<button type="button" ngf-select class="btn btn-default btn-block" ng-if="evm.partner.image==null"
							ngf-change="evm.setBytes($file)" accept="image/*" data-translate="entity.action.addimage">
								Add image
							</button>
							<button type="button" ngf-select class="btn btn-default btn-block" ng-if="evm.partner.image!=null"
							ngf-change="evm.setBytes($file)" accept="image/*" data-translate="entity.action.changeimage">
								Change image
							</button>
							<input type="hidden" class="form-control" name="bytes" id="field_bytes"	ng-model="evm.partner.image"/>
							<input type="hidden" class="form-control" name="bytesContentType" id="field_bytesContentType" ng-model="evm.partner.imageContentType" />
						</div>
					</div>
				</div>
				<div class="col-md-7 text-left"  style="padding-left: 20px; border-left: solid #b99e95 5px;" >
					<div class="row voffset3">
						<div class="col-md-2 form-group">
							<select id="field_title" class="form-control btn btn-sm" name="partner.title" ng-model="evm.partner.title"
							ng-options="title.key as title.value for title in evm.titles track by title.key">
								<option value="" data-translate="afripointApp.partner.title"></option>
							</select>
						</div>
						<div class="col-md-5 form-group">
							<label class="control-label" data-translate="afripointApp.partner.firstname" for="firstname">Firstname</label>
							<input type="text" class="form-control" name="firstname" id="firstname" ng-model="evm.partner.firstname" required/>
							<div ng-show="form.firstname.$dirty && form.firstname.$invalid">
								<p class="help-block"
								ng-show="form.firstname.$error.required" data-translate="afripointApp.partner.register.messages.validate.firstname.required">
									Your firstname is required.
								</p>
							</div>
						</div>
						<div class="col-md-5 form-group">
							<label class="control-label" data-translate="afripointApp.partner.lastname" for="lastname">Lastname</label>
							<input type="text" class="form-control" name="lastname" id="lastname" required
							ng-model="evm.partner.lastname"
							/>
							<div ng-show="form.lastname.$dirty && form.lastname.$invalid">
								<p class="help-block"
								ng-show="form.lastname.$error.required" data-translate="afripointApp.partner.register.messages.validate.lastname.required">
									Your lastname is required.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label class="control-label" data-translate="afripointApp.partner.email" for="email">Email</label>
							<input type="text" class="form-control" name="email" id="email" required placeholder="{{'global.form.email.placeholder' | translate}}"
							ng-model="evm.partner.email" ng-minlength=5 ng-maxlength=100
							/>
							<div ng-show="form.email.$dirty && form.email.$invalid">
								<p class="help-block"
								ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
									Your e-mail is required.
								</p>
								<p class="help-block"
								ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
									Your e-mail is invalid.
								</p>
								<p class="help-block"
								ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
									Your e-mail is required to be at least 5 characters.
								</p>
								<p class="help-block"
								ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
									Your e-mail cannot be longer than 100 characters.
								</p>
							</div>
						</div>

						<div class="col-md-6 form-group">
							<label class="control-label" data-translate="afripointApp.partner.mobileNumber" for="mobileNumber">Mobile</label>
							<input type="text" class="form-control" name="mobileNumber" id="mobileNumber" required
							ng-model="evm.partner.mobileNumber" ng-pattern="/^[0-9]*$/"
							/>
							<div ng-show="form.mobileNumber.$dirty && form.mobileNumber.$invalid">
								<p class="help-block"
								ng-show="form.mobileNumber.$error.required" data-translate="afripointApp.partner.register.messages.validate.mobileNumber.required">
									Your Mobile Number is required.
								</p>
							</div>
						</div>
						<div class="col-md-6 form-group">
							<label class="control-label" data-translate="afripointApp.partner.telephoneNumber" for="field_telephoneNumber">Telephone</label>
							<input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
							ng-model="evm.partner.telephoneNumber"
							/>
						</div>
						<div class="col-md-12 form-group">
							<label class="control-label" data-translate="afripointApp.partner.streetAddress" for="streetAddress">Street Address</label>
							<input type="text" class="form-control" name="streetAddress" id="streetAddress" required
							ng-model="evm.partner.streetAddress"
							/>
							<div ng-show="form.streetAddress.$dirty && form.streetAddress.$invalid">
								<p class="help-block"
								ng-show="form.streetAddress.$error.required" data-translate="afripointApp.partner.register.messages.validate.streetAddress.required">
									Your Street Address is required.
								</p>
							</div>
						</div>

						<div class="col-md-3 form-group">
							<label class="control-label" data-translate="afripointApp.partner.zipcode" for="zipcode">Zipcode</label>
							<input type="text" class="form-control" name="zipcode" id="zipcode" required
							ng-model="evm.partner.zipcode"
							/>
							<div ng-show="form.zipcode.$dirty && form.zipcode.$invalid">
								<p class="help-block"
								ng-show="form.zipcode.$error.required" data-translate="afripointApp.partner.register.messages.validate.zipcode.required">
									Your zipcode is required.
								</p>
							</div>
						</div>
						<div class="col-md-3 form-group">
							<label class="control-label" data-translate="afripointApp.partner.country" for="country">Country</label>
							<input type="text" class="form-control" name="country" id="country" required
							ng-model="evm.partner.country"
							/>
							<div ng-show="form.country.$dirty && form.country.$invalid">
								<p class="help-block"
								ng-show="form.country.$error.required" data-translate="afripointApp.partner.register.messages.validate.country.required">
									Your country is required.
								</p>
							</div>
						</div>
						<div class="col-md-3 form-group">
							<label class="control-label" data-translate="afripointApp.partner.state" for="state">State</label>
							<select id="field_type" class="form-control btn btn-sm" name="title" ng-model="evm.partner.state"
							ng-options="state for state in evm.states track by state"></select>
							<input type="hidden" class="form-control" name="state" id="state" required
							ng-model="evm.partner.state"
							/>
							<div ng-show="form.state.$dirty && form.state.$invalid">
								<p class="help-block"
								ng-show="form.state.$error.required" data-translate="afripointApp.partner.register.messages.validate.state.required">
									Your state is required.
								</p>
							</div>
						</div>
						<div class="col-md-3 form-group">
							<label class="control-label" data-translate="afripointApp.partner.city" for="city">City</label>
							<input type="text" class="form-control" name="city" id="city" required
							ng-model="evm.partner.city"
							/>
						</div>
						<div ng-show="form.city.$dirty && form.city.$invalid">
							<p class="help-block"
							ng-show="form.city.$error.required" data-translate="afripointApp.partner.register.messages.validate.city.required">
								Your city is required.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="evm.showPage == 'register'">
			<div class="row  well well-sm text-center" ng-if="evm.partner.type">
				<div class="col-md-12  text-left">
					<div ng-bind-html="evm.currentCatalog.info"></div>
				</div>
				<div class="col-md-9 col-md-offset-2 form-group text-left">
					<label  class="control-label" for="agree" data-translate="afripointApp.partner.terms">Ich habe den AGB gelesen und ich stimme sie zu</label>
					<input type="checkbox" class="form-control text-left" name="agree" id="agree" required ng-model="vm.agree" checked="true"/>
					<div ng-show="form.agree.$dirty && form.agree.$invalid">
						<p class="help-block"
						ng-show="form.agree.$error.required" data-translate="afripointApp.partner.register.messages.validate.agree.required">
							agreement is required.
						</p>
					</div>
				</div>
			</div>
		</div>
		<hr class="primary">
		<div class="row text-center" ng-if="evm.showPage == 'register'">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="evm.clear()">
				<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
			</button>
			<button type="submit" ng-disabled="editForm.$invalid || evm.isSaving" class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
			</button>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row text-center" ng-if="evm.showPage == 'infos'">
		<button type="button" class="btn btn-primary" ng-click="evm.switchTo('register')">
			<span class="glyphicon glyphicon-edit"></span>&nbsp;<span data-translate="global.registerPlease">Register</span>
		</button>
	</div>
</div>
