<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-2">
				<button class="btn btn-white btn-sm" ui-sref="{{ vm.previousState }}">
					<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back" class="ng-scope">Back</span>
				</button>
			</div>
			<div class="col-md-8">
				<h2><span data-translate="afripointApp.partner.detail.title">Partner</span> {{vm.partner.firstname}} {{vm.partner.lastname}}</h2>
			</div>
			<div class="col-md-2">
				<button type="button" ui-sref="partner-detail.edit({id:vm.partner.id})" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span>
					<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6" ng-if="vm.partner.image!=null">
				<div class="container-fluid">
					<img data-ng-src="{{'data:' + vm.partner.imageContentType + ';base64,' + vm.partner.image}}"
					style="margin:auto; height: auto; width: 100%;">
				</div>
			</div>
			<div class="col-md-2" ng-if="vm.partner.image==null">
				<p>&nbsp;</p>
			</div>
			<div class="col-md-6">
				<div>
					<hr>
					<jhi-alert-error></jhi-alert-error>

					<dl class="row jh-entity-details">

						<dt>
							<span data-translate="afripointApp.partner.title">Title</span>
						</dt>
						<dd>
							<span>{{vm.partner.title}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.firstname">Firstname</span>
						</dt>
						<dd>
							<span>{{vm.partner.firstname}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.lastname">Lastname</span>
						</dt>
						<dd>
							<span>{{vm.partner.lastname}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.email">Email</span>
						</dt>
						<dd>
							<span>{{vm.partner.email}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.mobileNumber">Mobile Number</span>
						</dt>
						<dd>
							<span>{{vm.partner.mobileNumber}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.telephoneNumber">Telephone Number</span>
						</dt>
						<dd>
							<span>{{vm.partner.telephoneNumber}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.streetAddress">Street Address</span>
						</dt>
						<dd>
							<span>{{vm.partner.streetAddress}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.zipcode">Zipcode</span>
						</dt>
						<dd>
							<span>{{vm.partner.zipcode}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.city">City</span>
						</dt>
						<dd>
							<span>{{vm.partner.city}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.state">State</span>
						</dt>
						<dd>
							<span>{{vm.partner.state}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.country">Country</span>
						</dt>
						<dd>
							<span>{{vm.partner.country}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.region">Region</span>
						</dt>
						<dd>
							<span>{{vm.partner.region}}</span>
						</dd>
						<dt>
							<span data-translate="afripointApp.partner.continent">Continent</span>
						</dt>
						<dd>
							<span>{{vm.partner.continent}}</span>
						</dd>
					</dl>

				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6 text-left">
				Created: {{vm.partner.createdDate | date:'medium'}}
			</div>
			<div class="col-md-6 text-right">
				Last modified:	{{vm.partner.modifiedDate | date:'medium'}}
			</div>
		</div>

	</div>
</div>
<!--

-->
