<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-12 col-xs-12 well well-sm" style="width: 28%;  max-height: 350px; overflow-y: auto;">
			<img ng-src="{{vm.gallery.pictureUrl}}" style="max-height: 100px;" alt="gallery image"/>
			<br>
			<h5><strong>{{vm.gallery.name}}</strong></h5>
			<h5><strong>{{vm.gallery.albumSize>0?vm.gallery.albumSize:""}}&nbsp;<span data-translate="afripointApp.gallery.{{vm.gallery.albumLabel}}"></span></strong></h5>
			<h6><span data-translate="afripointApp.gallery.createdDate"></span> {{vm.gallery.createdDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedDate"></span> {{vm.gallery.modifiedDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.createdBy"></span> {{vm.gallery.createdBy.lastName}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedBy"></span> {{vm.gallery.modifiedBy.lastName}}</h6>
			<div class="btn-group flex-btn-group-container">
				<button type="submit"
				ui-sref="{{ vm.previousState }}"
				class="btn btn-info">
					<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
				</button>
				<button type="button" ui-sref="gallery-detail.edit({id:vm.gallery.id})" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span>
					<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
				</button>
				<button type="button"
				ui-sref="gallery-album-new"
				class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus-sign"></span>
					<span class="hidden-sm-down" data-translate="entity.action.add"></span>
				</button>
			</div>
		</div>
		<div class="col-md-8 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-4 well well-sm" ng-repeat="album in vm.gallery.albums track by album.id" style="margin-left: 5px;">
					<img ng-src="{{album.pictureUrl}}" style="max-height: 100px;" alt="album image" ng-if="album.pictureUrl"/>
					<br>
					<h5><strong>{{album.name}}</strong></h5>
					<h5><strong>{{album.mediaSize>0?album.mediaSize:""}}&nbsp;<span data-translate="afripointApp.album.{{album.mediaLabel}}"></span></strong></h5>
					<h6><span data-translate="afripointApp.album.createdDate"></span> {{vm.gallery.createdDate | date:'medium'}}</h6>
					<h6><span data-translate="afripointApp.album.modifiedDate"></span> {{vm.gallery.modifiedDate | date:'medium'}}</h6>
					<h6><span data-translate="afripointApp.album.createdBy"></span> {{vm.gallery.createdBy.lastName}}</h6>
					<h6><span data-translate="afripointApp.album.modifiedBy"></span> {{vm.gallery.modifiedBy.lastName}}</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="row">

	</div>
</div>
<!--
<div>
<h2><span data-translate="afripointApp.gallery.detail.title">Gallery</span> {{vm.gallery.id}}</h2>
<hr>
<jhi-alert-error></jhi-alert-error>
<dl class="row jh-entity-details">
<dt><span data-translate="afripointApp.gallery.name">Name</span></dt>
<dd>
<span>{{vm.gallery.name}}</span>
</dd>
<dt><span data-translate="afripointApp.gallery.picture">Picture</span></dt>
<dd>
<div ng-if="vm.gallery.picture">
<a ng-click="vm.openFile(vm.gallery.pictureContentType, vm.gallery.picture)">
<img data-ng-src="{{'data:' + vm.gallery.pictureContentType + ';base64,' + vm.gallery.picture}}" style="max-width: 100%;" alt="gallery image"/>
</a>
{{vm.gallery.pictureContentType}}, {{vm.byteSize(vm.gallery.picture)}}
</div>
</dd>
<dt><span data-translate="afripointApp.gallery.album">Album</span></dt>
<dd>
<span>{{vm.gallery.album}}</span>
</dd>
<dt><span data-translate="afripointApp.gallery.createdDate">Created Date</span></dt>
<dd>
<span>{{vm.gallery.createdDate | date:'medium'}}</span>
</dd>
<dt><span data-translate="afripointApp.gallery.modifiedDate">Modified Date</span></dt>
<dd>
<span>{{vm.gallery.modifiedDate | date:'medium'}}</span>
</dd>
<dt><span data-translate="afripointApp.gallery.createdBy">Created By</span></dt>
<dd>
<span>{{vm.gallery.createdBy}}</span>
</dd>
<dt><span data-translate="afripointApp.gallery.modifiedBy">Modified By</span></dt>
<dd>
<span>{{vm.gallery.modifiedBy}}</span>
</dd>
</dl>

<button type="submit"
ui-sref="{{ vm.previousState }}"
class="btn btn-info">
<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
</button>

<button type="button" ui-sref="gallery-detail.edit({id:vm.gallery.id})" class="btn btn-primary">
<span class="glyphicon glyphicon-pencil"></span>
<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
</button>
</div>
-->