<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
		ng-click="vm.clear()">
			&times;
		</button>
		<h4 class="modal-title" id="myGalleryLabel" data-translate="afripointApp.gallery.home.createOrEditLabel">Create or edit a Gallery</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" data-translate="afripointApp.gallery.name" for="field_name">Name</label>
					<input type="text" class="form-control" name="name" id="field_name"
					ng-model="vm.gallery.name"
					required ng-minlength="2" ng-maxlength="256"/>
					<div ng-show="editForm.name.$invalid">
						<p class="help-block"
						ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
							This field is required.
						</p>
						<p class="help-block"
						ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="2">
							This field is required to be at least 2 characters.
						</p>
						<p class="help-block"
						ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="256">
							This field cannot be longer than 256 characters.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">

				<div class="form-group" ngf-drop ngf-change="vm.setPicture($file, vm.gallery)" ngf-pattern="'image/*'">
					<label class="control-label" data-translate="afripointApp.gallery.picture" for="field_picture">Picture</label>
					<div>
						<div class="row" ng-if="vm.gallery.pictureUrl">
							<img ng-src="{{vm.gallery.pictureUrl}}" style="max-height: 100px;" ng-if="vm.gallery.pictureUrl" alt="gallery image"/>
						</div>
						<img data-ng-src="{{'data:' + vm.gallery.pictureContentType + ';base64,' + vm.gallery.picture}}" style="max-height: 100px;" ng-if="vm.gallery.picture" alt="gallery image"/>
						<div ng-if="vm.gallery.picture" class="help-block clearfix">
							<span class="pull-left">{{vm.gallery.pictureContentType}}, {{vm.byteSize(vm.gallery.picture)}}</span>
							<button type="button" ng-click="vm.gallery.picture=null;vm.gallery.pictureContentType=null;"
							class="btn btn-default btn-xs pull-right">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<button type="button" ngf-select class="btn btn-default btn-block"
						ngf-change="vm.setPicture($file, vm.gallery)" accept="image/*" data-translate="entity.action.addimage">
							Add image
						</button>
					</div>
					<input type="hidden" class="form-control" name="picture" id="field_picture"
					ng-model="vm.gallery.picture"
					/>
					<input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
					ng-model="vm.gallery.pictureContentType" />
					
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
