<div class="well well-md">
	<h2 data-translate="afripointApp.gallery.home.title">Galleries</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="gallery.new" >
					<span class="glyphicon glyphicon-plus"></span>
					<span  data-translate="afripointApp.gallery.home.createLabel"> Create new Gallery </span>
				</button>
			</div>
		</div>
	</div>
	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12 well well-sm" ng-repeat="gallery in vm.galleries track by gallery.id" style="margin-left:5px; max-width:280px;  max-height: 350px; overflow-y: auto;">
			<a ng-if="gallery.pictureUrl" ui-sref="gallery-view({id:gallery.id})"> <img ng-src="{{gallery.pictureUrl}}" style="max-height: 100px;" alt="gallery image"/> </a>
			<br>
			<h5><strong>{{gallery.name}}</strong></h5>
			<h5><strong>{{gallery.albumSize>0?gallery.albumSize:""}}&nbsp;<span data-translate="afripointApp.gallery.{{gallery.albumLabel}}"></span></strong></h5>
			<h6><span data-translate="afripointApp.gallery.createdDate"></span> {{gallery.createdDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedDate"></span> {{gallery.modifiedDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.createdBy"></span> {{gallery.createdBy.lastName}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedBy"></span> {{gallery.modifiedBy.lastName}}</h6>
			<div class="btn-group flex-btn-group-container">
				<button type="submit"
				ui-sref="gallery-detail({id:gallery.id})"
				class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-eye-open"></span>
					<span class="hidden-sm-down" data-translate="entity.action.view"></span>
				</button>
				<button type="submit"
				ui-sref="gallery.edit({id:gallery.id})"
				class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-pencil"></span>
					<span class="hidden-sm-down" data-translate="entity.action.edit"></span>
				</button>
				<button type="submit"
				ui-sref="gallery.delete({id:gallery.id})"
				class="btn btn-danger btn-sm">
					<span class="glyphicon glyphicon-remove-circle"></span>
					<span class="hidden-sm-down" data-translate="entity.action.delete"></span>
				</button>
			</div>
		</div>
	</div>
</div>
