<div class="panel panel-primary">
	<div class="panel-heading">
		<button type="submit" class="btn btn-material-brown btn-sm pull-right" data-dismiss="modal" aria-hidden="true" ui-sref="{{ vm.previousState }}">
			<span data-translate="entity.action.back"></span>
		</button>
			<h3><strong>{{vm.gallery.name}}</strong></h3>
	</div>
	<div class="panel-body">
	<div class="row-fluid">
		<div class="col-md-3 col-sm-12 col-xs-12 well well-sm" style="max-width: 25%;  max-height: 350px; overflow-y: auto;">
			<img ng-src="{{vm.gallery.pictureUrl}}" style="max-height: 100px;" alt="gallery image"/>
			<br>
			<h5><strong>{{vm.gallery.albumSize>0?vm.gallery.albumSize:""}}&nbsp;<span data-translate="afripointApp.gallery.{{vm.gallery.albumLabel}}"></span></strong></h5>
			<h6><span data-translate="afripointApp.gallery.createdDate"></span> {{vm.gallery.createdDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedDate"></span> {{vm.gallery.modifiedDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.createdBy"></span> {{vm.gallery.createdBy.lastName}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedBy"></span> {{vm.gallery.modifiedBy.lastName}}</h6>
			<div class="btn-group flex-btn-group-container">
				<button type="submit"
				ui-sref="{{ vm.previousState }}"
				class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
				</button>
				<button type="button" ui-sref="gallery-detail.edit({id:vm.gallery.id})" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-pencil"></span>
					<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
				</button>
				<button type="button"
				ui-sref="gallery-album-new"
				class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-plus-sign"></span>
					<span class="hidden-sm-down" data-translate="entity.action.add"></span>
				</button>
			</div>
		</div>
		<div class="col-md-8 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-4 well well-sm bg-white cs-style-7" ng-repeat="album in vm.gallery.albums track by album.id" style="min-width: 45%; margin-left: 5px;">
					<figure>
						<a ui-sref="gallery-album-view({albumId: album.id})"> <img ng-src="{{album.pictureUrl}}" style="max-height: 100px;" alt="album image" ng-if="album.pictureUrl"/> </a>
						<br>
						<h5><strong>{{album.name}}</strong></h5>
						<h5><strong>{{album.mediaSize>0?album.mediaSize:""}}&nbsp;<span data-translate="afripointApp.album.{{album.mediaLabel}}"></span></strong></h5>
						<h6><span data-translate="afripointApp.album.createdDate"></span> {{vm.gallery.createdDate | date:'medium'}}</h6>
						<h6><span data-translate="afripointApp.album.modifiedDate"></span> {{vm.gallery.modifiedDate | date:'medium'}}</h6>
						<h6><span data-translate="afripointApp.album.createdBy"></span> {{vm.gallery.createdBy.lastName}}</h6>
						<h6><span data-translate="afripointApp.album.modifiedBy"></span> {{vm.gallery.modifiedBy.lastName}}</h6>

						<figcaption>
							<div class="btn-group flex-btn-group-container">
								<button type="button" ui-sref="gallery-album-view({albumId: album.id})" class="btn btn-material-amber btn-sm">
									<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span data-translate="entity.action.view"> View</span>
								</button>
								<button type="button" ui-sref="gallery-album-edit({albumId: album.id})" class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp; <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
								</button>
								<button type="button" ui-sref="gallery-album-delete({albumId: album.id})"
								class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove-circle"></span>
									<span class="hidden-sm-down" data-translate="entity.action.delete"></span>
								</button>
							</div>
						</figcaption>
					</figure>
				</div>

			</div>
		</div>
	</div>
	<div class="row">

	</div>
</div>
</div>
