<div class="container">
	<div class="row">
		<div class="col-md-3 well well-sm" ng-repeat="gallery in vm.galleries track by gallery.id" style="margin-left:5px; max-width:280px;  max-height: 300px; overflow-y: auto;">
			<a ng-if="gallery.pictureUrl" ui-sref="gallery-view({id:gallery.id})"> <img ng-src="{{gallery.pictureUrl}}" style="max-height: 100px;" alt="gallery image"/> </a>
			<br>
			<h5><strong>{{gallery.name}}</strong></h5>
			<h5><strong>{{gallery.albumSize>0?gallery.albumSize:""}}<span data-translate="afripointApp.gallery.{{gallery.albumLabel}}"></span></strong></h5>
			<h6><span data-translate="afripointApp.gallery.createdDate"></span> {{gallery.createdDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedDate"></span> {{gallery.modifiedDate | date:'medium'}}</h6>
			<h6><span data-translate="afripointApp.gallery.createdBy"></span> {{gallery.createdBy.lastName}}</h6>
			<h6><span data-translate="afripointApp.gallery.modifiedBy"></span> {{gallery.modifiedBy.lastName}}</h6>
		</div>
	</div>
</div>