<div class="well well-md" style="position: relative; top: -20px;">
	<section class="no-padding center" id="contact">
		<div class="row text-center">
			<div class="col-md-12 text-center">
				<div class="center-80">
					<h2 class="section-heading">Get In Touch!</h2>
					<hr class="primary">
					<p data-translate="home.businessCallout">
						Ready to do business with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
					</p>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p>
					<a href="mailto:feedback@radioafrika.net">office@radioafrika.net</a>
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-phone fa-3x sr-contact"></i>
				<p>
					+43 1 581 9186
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p>
					<a href="mailto:feedback@afripoint.at">office@afripoint.at</a>
				</p>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h3 class="text-danger" data-translate="home.openTimes">Open times</h3>
				<hr class="primary" />
				<table class="jh-table table table-striped">
					<tr class="text-center">
						<th>Tag</th><th>Zeit</th>
					</tr>
					<tr class="text-left">
						<td>Montag:</td><td>16:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Dienstag:</td><td>16:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Mittwoch:</td><td>16:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Donnerstag:</td><td>16:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Freitag:</td><td>16:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Samstag:</td><td>10:00 – 23:00 Uhr</td>
					</tr>
					<tr class="text-left">
						<td>Sonntag:</td><td>Geschlossen</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row text-center">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2 data-translate="home.address"></h2>
			</div>
			<div class="col-md-3"></div>
		</div>
	</section>
</div>
<div id="cookie" class="container bg-dark pad hidden-xs hidden-sm" ng-if="!fvm.cookiesAccepted" style="position: fixed; bottom: 0;">
	<div class="row well well-primary well-md">
			<div class="col-md-10">
				<p data-translate="global.messages.acceptCookies"></p>
				<button class="btn btn-primary btn-lg" ng-click="fvm.openPage('data/afripoint/datenschutz.pdf')">Datenschutzerklärung</button>
			</div>
			<div class="col-md-2">
				<button ng-click="fvm.acceptCookies()" class="btn btn-white btn-lg" role="button" type="button">
					<span class="glyphicon glphicon-ok"></span>&nbsp;<span>OK</span>
				</button>
			</div>
		</div>
</div>