<div class="well well-md" style="position: relative; top: -20px;">
	<header class="hidden-sm hidden-xs" style="width: 100%; position: relative; top: 1px;">
		<div class="header-content">
			<div class="header-content-inner"></div>
		</div>
	</header>

	<section class="container" id="services" style="position: relative; top: -10px; width: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-11 text-center">
					<h2 class="section-heading">At Your Service</h2>
					<hr class="primary">
				</div>
			</div>
		</div>
		<div class="container" style="padding-right: 100px; margin-right: auto; margin-left: auto; ">
			<div class="row" style="margin:auto;">
				<div class="col-lg-3 col-md-6 text-center" ng-repeat="service in vm.services track by service.id" ngcloak>
					<div class="service-box">
						<i class="fa fa-4x fa-{{service.icon}} text-primary sr-icons"></i>
						<h3><a ui-sref="{{service.name}}" data-translate="afripointApp.afripointService.{{service.name}}.name">{{service.name}}</a></h3>
						<p class="text-muted" data-translate="afripointApp.afripointService.{{service.name}}.description">
							{{service.description}}
						</p>
					</div>

				</div>
			</div>
			<!--
			<div class="row">
			<div class="col-lg-12 text-center">
			<hr class="primary">
			<h2 class="section-heading"><a data-translate="home.partner" ng-click="vm.openPartner()" class="btn btn-primary btn-xl sr-button">Become a partner!</a></h2>
			<hr class="primary">
			</div>
			</div>
			-->
		</div>
	</section>

	<section class="container hidden-sm hidden-xs bg-dark border-primary-3" style="overflow-y: auto; max-height:400px; position: relative; top: -80px; padding: 0; width: 100%;" ng-if="vm.events.length>0">
		<div class="row">
			<div class="col-md-6" style="margin-right: -15px; overflow-y: auto;">
				<div uib-carousel active="vm.active" interval="vm.slideInterval" no-wrap="vm.noWrapSlides" no-transition="false">
					<div uib-slide ng-repeat="event in vm.events track by event.id" index="$index">
						<img ng-src="{{event.photo}}" class="img-responsive" style="margin:auto; height: auto; width: 100%;" ngcloak>
						<div class="carousel-caption bg-primary bg-transparent">
							<h4 ng-click="vm.openEvent(event)">{{event.title}}</h4>
							<h5>{{event.startTime | date:'EEE dd MMM HH:mm'}} - {{event.endTime | date:'EEE dd MMM  HH:mm'}} </h5>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 color-primary" style="overflow-y: auto;">
				<div class="row row-primary-1" ng-repeat="(e, event) in vm.events track by event.id"  ng-class="{'row-primary-2': vm.mod(e,2)==0}">
					<div class="col-md-10" >
						<div class="row" ng-click="vm.openEvent(event)">
							<div class="col-sm-4">
								<img ng-src="{{event.photo}}" class="img-responsive" style="margin:auto; height: auto; width: 100%;" ngcloak>
							</div>
							<div class="col-sm-8">
								<h5>{{event.title}}</h5>
								<h6>{{event.startTime | date:'EEE dd MMM HH:mm'}} - {{event.endTime | date:'EEE dd MMM  HH:mm'}} </h6>
							</div>
						</div>
					</div>
					<div class="col-md-2 text-center">
						<a
						href="#"
						socialshare-url="'http://www.afripoint.at/#/event/view/{{event.id}}'"
						socialshare
						socialshare-provider="twitter"
						socialshare-text="{{event.title}}"
						socialshare-hashtags="afripoint,afripoint-event"
						><i class="fa fa-twitter" aria-hidden="true"></i></a>
						&nbsp;&nbsp;&nbsp;
						<a
						href="#"
						socialshare="share"
						socialshare-provider="facebook"
						socialshare-url="'http://www.afripoint.at/#/event/view/{{event.id}}'"
						socialshare-title="{{event.title}}"
						socialshare-caption="{{event.title}}"
						socialshare-description="{{event.description}}"
						socialshare-quote="{{event.description}}"
						socialshare-text="{{event.title}}"
						socialshare-hashtags="#afripoint, #afripoint-event"
						><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<aside class="bg-dark border-primary-3" style="position: relative; top: -100px; width: 100%; height: 200px;">
		<div class="row text-center">
			<div class="col-md-6 col-sm-12 col-xs-12 text-center">
				<div class="call-to-action">
					<h2 data-translate="home.brochure">New brochure edition</h2>
					<a href="content/docs/afripoint_presentation.pdf" target="_blank" class="btn btn-white btn-xl sr-button" data-translate="home.download">Download Now!</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 text-center">
				<div class="call-to-action">
					<h2 data-translate="home.currentEvents">Current Events</h2>
					<a href="content/docs/afripoint-events.pdf" target="_blank" class="btn btn-white btn-xl sr-button" data-translate="home.download">Download Now!</a>
				</div>
			</div>
		</div>
	</aside>

	<section class="bg-primary hidden-sm hidden-xs" id="about">
		<div class="row center-80" style="height: 80px; min-width: 100%;">
			<div class="col-md-12 text-center">
				<h2>We've got just what you need!</h2>
			</div>
		</div>
		<div class="row center-80">
			<div class="col-md-12">
				<p class="text-faded text-center">
					AfriPoint has everything you need to reach your target!
				</p>
				<p class="text-faded text-center">
					AFRI POINT liegt im stark belebten Kreuzungsbereich bei der U4 Pilgramgasse / Wienzeile, die Werbe- und Infoscreens in den Schaufenstern von AFRI POINT können so rund ½ Million Menschen erreichen und stehen allen AFRI POINT Partnern zur Verfügung.
				</p>
				<p class="text-faded text-center">
					AFRI POINT ist der Treffpunkt der Kulturen mit Shop, Bar und ausreichendem Platz für Konferenzen und Events - sowie das Studio von AFRIKA TV das Medium, dass Österreich und Afrika verbindet.
				</p>
				<p class="text-faded text-center">
					Um sich einen guten Werbeplatz zu sichern bitten wir Sie sich möglichst schnell zu entscheiden.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="badge bg-dark">
					<a data-translate="home.learn" ng-click="vm.openLearn()" class="btn btn-primary btn-xl sr-button">Learn more!</a>
				</div>
			</div>
		</div>
	</section>

	<section class="container" style="position: relative; top: -50px; width: 100%; padding: 0">
		<div style="height: 400px; overflow: hidden; margin-top: 20px;" ng-if="vm.media.length>0">
			<div uib-carousel active="vm.active" interval="vm.slideInterval" no-wrap="vm.noWrapSlides">
				<div uib-slide ng-repeat="media in vm.media track by media.id" index="$index">
					<img data-ng-src="{{'data:' + media.imageContentType + ';base64,' + media.image}}" style="margin:auto; height: 400px; width: auto;">
					<div class="carousel-caption bg-primary bg-transparent">
						<h1>{{media.caption}}</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container no-padding" id="portfolio" style="position: relative; top: -50px; width: 100%; padding:0;">
		<div class="container-fluid">
			<div class="row no-gutter popup-gallery">
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point1.jpg" class="portfolio-box"> <img src="content/img/opening/thumb1.jpg" class="img-responsive" alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Location
							</div>
						</div>
					</div> </a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point2.jpg" class="portfolio-box"> <img src="content/img/opening/thumb2.jpg" class="img-responsive" alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Bar
							</div>
						</div>
					</div> </a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point3.jpg" class="portfolio-box"> <img src="content/img/opening/thumb3.jpg" class="img-responsive" alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Shop
							</div>
						</div>
					</div> </a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point4.jpg" class="portfolio-box"> <img src="content/img/opening/point4.jpg" class="img-responsive" alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Shop
							</div>
						</div>
					</div> </a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point5.jpg" class="portfolio-box"> <img src="content/img/opening/point5.jpg" class="img-responsive " alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Event
							</div>
						</div>
					</div> </a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="content/img/opening/point6.jpg" class="portfolio-box"> <img src="content/img/opening/point6.jpg" class="img-responsive" alt="" title="Shop" type="image">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Afri Point
							</div>
							<div class="project-name">
								Advertising
							</div>
						</div>
					</div> </a>
				</div>
			</div>
		</div>
	</section>

	<section class="container" id="contact" style="position: relative; top: -80px; width: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Get In Touch!</h2>
					<hr class="primary">
					<p data-translate="home.businessCallout">
						Ready to do business with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
					</p>
				</div>
				<div class="col-lg-4 col-lg-offset-2 text-center">
					<i class="fa fa-phone fa-3x sr-contact"></i>
					<p>
						+43 1 943 7045
					</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>
						<a href="mailto:feedback@afripoint.at">office@afripoint.at</a>
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
