<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
		ng-click="vm.clear()">
			&times;
		</button>
		<h4 class="modal-title" id="myAlbumLabel" data-translate="afripointApp.album.home.createLabel" ng-if="!vm.album.id">Create or edit a Album</h4>
		<h4 class="modal-title" id="myAlbumLabel" data-translate="afripointApp.album.home.createOrEditLabel" ng-if="vm.album.id">Create or edit a Album</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<!--
				<div class="form-group" ng-show="vm.album.id">
				<label for="id" data-translate="global.field.id">ID</label>
				<input type="text" class="form-control" id="id" name="id"
				ng-model="vm.album.id" readonly />
				</div>
				-->
				<div class="form-group">
					<label class="control-label" data-translate="afripointApp.album.name" for="field_name">Name</label>
					<input type="text" class="form-control" name="name" id="field_name"
					ng-model="vm.album.name"
					/>
				</div>
				<div class="form-group">
					<label class="control-label" data-translate="afripointApp.album.description" for="field_description">Description</label>
					<textarea class="form-control" name="description" id="field_description"
					ng-model="vm.album.description"
					>{{vm.album.description}}</textarea>
				</div>
				<div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.album)" ngf-pattern="'image/*'">
					<label class="control-label" data-translate="afripointApp.album.photo" for="field_photo">Photo</label>
					<div>
						<img ng-src="{{vm.album.pictureUrl}}" style="max-height: 100px;" ng-if="!vm.album.photo || vm.album.pictureUrl" alt="current album image"/>
						<img data-ng-src="{{'data:' + vm.album.photoContentType + ';base64,' + vm.album.photo}}" style="max-height: 100px;" ng-if="vm.album.photo" alt="new album image"/>
						<div ng-if="vm.album.photo" class="help-block clearfix">
							<span class="pull-left">{{vm.album.photoContentType}}, {{vm.byteSize(vm.album.photo)}}</span>
							<button type="button" ng-click="vm.album.photo=null;vm.album.photoContentType=null;"
							class="btn btn-default btn-xs pull-right">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<button type="button" ngf-select class="btn btn-default btn-block" ng-if="vm.album.pictureUrl"
						ngf-change="vm.setPhoto($file, vm.album)" accept="image/*" data-translate="entity.action.changeimage">
							Change image
						</button>

						<button type="button" ngf-select class="btn btn-default btn-block" ng-if="!vm.album.pictureUrl"
						ngf-change="vm.setPhoto($file, vm.album)" accept="image/*" data-translate="entity.action.addimage">
							Add image
						</button>
					</div>
					<input type="hidden" class="form-control" name="photo" id="field_photo"
					ng-model="vm.album.photo"/>
					<input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
					ng-model="vm.album.photoContentType" />
					<div ng-show="editForm.photo.$invalid">
						<p class="help-block"
						ng-show="editForm.photo.$error.required" data-translate="entity.validation.required">
							This field is required.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-6 col-xs-12">
				<div class="form-group">
					<div class="form-group" ngf-drop ngf-change="vm.addMedia($files, vm.album.media)" ngf-max-files="10" ngf-max-total-size="40MB"
					ngf-resize="{width: 800, height: 640, quality: .8, restoreExif: true}" ngf-resize-if="$width > 800 || $height > 800"
					ngf-pattern="'image/*, video/* '" ngf-multiple="true" ngf-keep="'distinct'" ngf-fix-orientation="true">
						<label class="control-label" data-translate="afripointApp.album.media" for="field_media">Media</label>
						<div class="row" style="max-height: 400px; overflow-y: auto">
							<div class="col-md-3 well well-material-amber well-sm" ng-repeat="media in vm.album.media track by media.id" style="max-height: 120px; margin-right: 3px;">
								<img  data-ng-src="{{'data:' + media.imageContentType + ';base64,' + media.image}}"
								class="img-responsive" ng-if="media.image" alt="media image" style="max-height: 80px;width: auto;"/>
								<img ng-src="{{media.imageUrl}}" ng-if="media.imageUrl"
								class="img-responsive" ng-if="vm.album.media.length>0" alt="media image" style="max-height: 80px;width: auto;"/>
								<button type="button" ng-click="vm.removeMedia(media.id, vm.album.media)"
								class="btn btn-default btn-xs pull-right">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</div>
						</div>
						<div>
							<button type="button" ngf-select class="btn btn-default btn-block"
							ngf-change="vm.addMedia($files, vm.album.media)" accept="image/*" data-translate="entity.action.addMedia">
								Add media files
							</button>
						</div>
						<input type="hidden" class="form-control" name="media" id="field_media" ng-model="vm.album.media"/>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
